# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/build/
**/coverage/
**/node_modules/
**/cache/

# Exclude source files
!*.ts
!*.tsx
!*.html
!*.css

# Assets
!*.ico
!*.png
!*.jpg
!*.svg
!*.webp
!*.gif
!*.ttf

# Etc
!.eslintrc.cjs
!eslint.config.js
!loader.js
!*.sql
!*.json
!*.sh
!*.md
!*.yml
!Dockerfile
!.gitignore
!.gitkeep
!LICENSE

# Block previously allowed file(s)
openapi.html