# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/build/
**/coverage/
**/node_modules/

# Exclude source files
!*.ts
!*.tsx
!*.html
!*.css
!.eslintrc.cjs
!loader.js

# Assets
!*.ico
!*.png
!*.jpg
!*.svg
!*.webp
!*.gif
!*.ttf

# Etc
!*.sql
!*.json
!*.sh
!*.md
!*.yml
!Dockerfile
!.gitignore
!.gitkeep
!LICENSE

# Block previously allowed files
**/settings.json
